<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#!">inicio</a>
        <a class="navbar-brand" href="{% url 'profesores' %}">profesores</a>
        <a class="navbar-brand" href="{% url 'cursos' %}">cursos</a>
        <a class="navbar-brand" href="{% url 'estudiantes' %}">estudiantes</a>
        <a class="navbar-brand" href="{% url 'entregables' %}">entregables</a>
        <a class="btn btn-primary" href="#NADAAUN">Inciar</a>
    </div>
</nav>